<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Updater</title>
</head>
<body>
    <h1>Status Updater</h1>
    <form action="/update_status" method="POST">
        <label for="user">Select User:</label>
        <select name="user" id="user">
            <option value="Dr Pookie Badmosh">Dr Pookie Badmosh</option>
            <option value="Chonk E Pupper">Chonk E Pupper</option>
        </select>
        <br><br>
        <label for="status">When will you come home bby?</label>
        <input type="text" name="status" id="status" required>
        <br><br>
        <button type="submit">Update</button>
    </form>
    <h2>Current Statuses:</h2>
    <p>Dr Pookie Badmosh: {{ user_statuses['Dr Pookie Badmosh']['status'] }}</p>
    <p>Chonk E Pupper: {{ user_statuses['Chonk E Pupper']['status'] }}</p>
    {% if last_updated %}
    <p> Status last updated by {{ last_updated['user'] }} at {{ last_updated['time'].strftime('%d-%m-%Y %H:%M:%S') }}</p>
    {% else %}
    <p> Status last updated: Never </p>
    {% endif %}
</body>
</html>